venv
LangchainForLLMAppDevelopment/OutdoorClothingCatalog_1000.csv
LangchainForLLMAppDevelopment/OutdoorClothingCatalog_1000_short.csv
docs
motivation.pdf
MachineLearning-Lecture01.pdf
MachineLearning-Lecture02.pdf
MachineLearning-Lecture03.pdf
MachineLearning-Lecture04.pdf
MachineLearning-Lecture05.pdf
.env